%%% -*- mode:erlang -*-

[ {epubnub, [{origin, <<"pubsub.pubnub.com">>},
             {pubkey, <<"demo">>},
             {subkey, <<"demo">>},
             {client, <<"clientName">>},
             {is_ssl, false}]}
 ].
